<div id="utterances-container" class="utterance-container"></div>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");

  Object.entries({
    src: "https://giscus.app/client.js",
    "data-repo": "pritamsharma45/task-manager-docs",
    crossorigin: "anonymous",
    "data-repo-id": "R_kgDOKJqYQA",
    "data-category": "Q&A",
    "data-category-id": "DIC_kwDOKJqYQM4CY8Aw",
    "data-mapping": "pathname",
    "data-strict": "0",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-theme":"light",
    "data-input-position": "bottom",
    "data-lang": "en",
    async: "true",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>
