---
import Youtube from "./icons/youtube.astro";


---


<div>
    <a href="https://www.youtube.com/watch?v=HuGzHHk8B_M&list=PLGi_-BCQiKruw83cC0ON5nPRnac8b0uin" target="_blank" class="flex flex-row no-underline font-bold">
        <span>
            <Youtube />
        </span><div class="ml-4 mt-2">Watch our Youtube Palylist</div>
    </a>
</div>
<!-- shortcutTailwind:flex flex-row no-underline font-bold rounded-lg border-2 border-solid border-indigo-400 px-4 -->